body {
    text-align: center;
    background-image:url(https://pt.pokerdiscover.com/media/blog/2017/01/rock-paper-scissor-ft-1.jpg);
    background-size:100%;

}

#bigDiv {
    background: rgba(250, 230, 207, 0.836);
    max-width: fit-content;
    margin: auto;
    border-radius: 35px;
    padding: 10px;
    border-style:double;
}

#computerScore {
    padding-bottom: 20px;
}

button {
    border:none;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px 10px;
    color: whitesmoke;
    font-size: large;
    cursor:pointer;
}

button:hover {
    scale: 1.2;
    transition: 0.1s;
}

button:hover:after {
    transition: 0.3s;
}

button:active {
    scale: 1.3;
    box-shadow: 0 0 1rem #010303;
}

#rock {
    background: rgb(126, 47, 47);
    box-shadow: 0 0 0.5rem rgb(126, 47, 47);
}

#paper {
    background: rgb(9, 9, 121);
    box-shadow: 0 0 0.5rem rgb(9, 9, 121);
}

#scissors {
    background: rgb(23, 102, 23);
    box-shadow: 0 0 0.5rem rgb(23, 102, 23);
}

#rock:hover {
    box-shadow: 0 0 1rem rgb(126, 47, 47);
}

#paper:hover {
    box-shadow: 0 0 1rem rgb(9, 9, 121);
}

#scissors:hover {
    box-shadow: 0 0 1rem rgb(23, 102, 23);
}

#roundResult {
    font-weight: bold;
    word-wrap:normal;
}